main {
    display: flex;
}

main div.imgs img{
    margin: 1rem;
    text-align: center;
    display: block;
    width: 750px;
    height: 500px;
}

main div.about {
    background-color: #eff1ec;
    margin: 1rem;
    display: block;
    width: 45vw;
}