main {
    display: flex;
}

main div.imgs img{
    margin: 1rem;
    width: 750px;
    height: 500px;
    text-align: center;
    display: block;
}

main div.about {
    margin: 1rem;
    padding: 1rem;
    width: 45vw;
    display: block;
    background-color: #eff1ec;
}
main div.about p{
    margin: 1rem;
    padding: 1rem;
}


@media only screen and (max-width:480px) {

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    main div.imgs img{
        margin: 1rem;
        width: 425px;
        height: 275px;
        text-align: center;
        display: block;
    }

    main div.about {
        margin: 1rem;
        padding: 1rem;
        width: 84vw;
        display: block;
        background-color: #eff1ec;
    }
}