/* needapart.css -- Styling the needapart page elements
 * author: Kennedy O'Hanley
 */

 main {
     display: flex;
 }

 div.form form {
     margin: 2rem;
 }

 main div.form label {
    background-color: #eff1ec;
    margin: 1rem;
    padding: 1rem;
    display:inline;

 }
 main div.form input {
    background-color: #eff1ec;
    margin: 1rem;
    margin-left: 3rem;
    padding: 1rem;

    display:inline;

 }

 div.titles h4 {
     background-color: #eff1ec;
     color: #333d29;
     margin: 2rem;

 }

 input:required {
    border: 2px solid black;
 }

 input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }