/* photo.css -- Styling the photo page elements
 * author: Kennedy O'Hanley
 */

 div img {
    width: 300px;
    height: 300px;
    margin: 1rem;
  }

  div.allimgs{
    background-color: #eff1ec;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
  }

 .cover {
    object-fit:cover;
  }

  @media only screen and (max-width:700px) {
    div img {
      width: 100px;
      height: 100px;
      margin: 1rem;
    }
  }
