/* review.css -- Styling the review page elements
 * author: Kennedy O'Hanley
 */

main {
     margin: 1rem;
     padding: 1rem;
     background-color: #eff1ec;
 }

div {
    margin: 1rem;
}

div p {
    margin-left: 3rem;
}